body {
  background: #f6f6fa;
  padding: 40px 40px 40px 40px;
  font-family: "Montserrat", serif;
  background-image: url("../img/pakata-goh-EJMTKCZ00I0-unsplash.jpg");
  background-size: cover;
  background-attachment: fixed;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

.wrapper {
  background: #ffffff;
  display: flex;
  flex-direction: row-reverse;
  width: 1280px;
  margin: 0 auto;
  border-radius: 40px;
  box-shadow: 8px 68px 174px 100px rgba(3, 0, 100, 0.65);
}

.main-content {
  padding-left: 88px;
  padding-top: 80px;
  padding-right: 40px;
  padding-bottom: 80px;
  box-sizing: border-box;
}

.sidebar {
  background: #e0ebfe;
  padding-top: 40px;
  padding-bottom: 40px;
  box-sizing: border-box;
  width: 370px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}
.sidebar-content {
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 40px;
  box-sizing: border-box;
}

.contacts-title {
  font-weight: 700;
  font-size: 22px;
  color: #161d2a;
  margin-top: 0;
  margin-bottom: 8px;
}
/* Контакти */
.contacts-type {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
  margin-right: 8px;
}

.contacts-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #2979ff;
}

.contacts-item {
  margin-top: 0;
  margin-bottom: 8px;
}

.contacts-container {
  margin-bottom: 40px;
}

.skills-container {
  margin-bottom: 40px;
}
/* Tech skills */
.skills-title {
  font-weight: 700;
  font-size: 22px;
  color: #161d2a;
  margin-top: 0;
  margin-bottom: 8px;
}

.skills-list {
  padding-left: 22px;
}

.skills-list-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #161d2a;
}

/* Position */

.position {
  font-weight: 700;
  font-size: 14px;
  line-height: 121%;
  color: #000;
  margin-top: 0;
  margin-bottom: 8px;
}

/* Name */
.name {
  font-weight: 700;
  font-size: 45px;
  line-height: 122%;
  color: #000;
  margin-top: 0;
  margin-bottom: 12px;
}

.info {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #595959;
}

.my-info {
  margin-bottom: 40px;
}

/* My project */

.projects {
  margin-bottom: 40px;
}

.project-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 123%;
  color: #000;
  margin-top: 0;
  margin-bottom: 8px;
}

.projects-list {
  padding-left: 16px;
}

.name-project {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #595959;
}

.projects-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 171%;
  color: #000;
}

.project-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #005fff;
}

/* Work exp */

.work {
  margin-bottom: 40px;
}

.work-experience {
  font-weight: 700;
  font-size: 22px;
  line-height: 123%;
  color: #000;
  margin-top: 0;
  margin-bottom: 8px;
}

.company {
  margin-bottom: 12px;
}
.company-position {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
}

.company-name {
  color: #6d9bf5;
}

.time {
  font-weight: 400;
  font-size: 12px;
  line-height: 125%;
  color: #a8a8a8;
  margin-bottom: 8px;
}

.color-line {
  color: #000;
}

.company-list {
  padding-left: 24px;
}

.company-duties-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #595959;
}

/* Education */
.education-container {
  margin-bottom: 40px;
}

.education-title {
  font-weight: 700;
  font-size: 22px;
  color: #000;
  margin-top: 0;
  margin-bottom: 8px;
}

.education-name {
  font-weight: 700;
  font-size: 16px;
  color: #6d9bf5;
  margin-bottom: 8px;
  margin-top: 8px;
}

.education-spec {
  font-weight: 700;
  font-size: 14px;
  color: #000;
  margin-bottom: 8px;
  margin-top: 8px;
}

/* Certification */
.certification-container {
  margin-bottom: 40px;
}

.certification-title {
  font-weight: 700;
  font-size: 22px;
  color: #000;
  margin-top: 0;
  margin-bottom: 8px;
}

.certification-name {
  font-weight: 700;
  font-size: 16px;
  color: #6d9bf5;
  margin-bottom: 8px;
  margin-top: 8px;
}

.certification-spec {
  font-weight: 700;
  font-size: 14px;
  color: #000;
  margin-bottom: 8px;
  margin-top: 8px;
}
